@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-grid {
    animation: grid 15s linear infinite;
}

@keyframes grid {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}